[submodule "3rdParty/fastText"]
	path = 3rdParty/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "3rdParty/QBuildSystem"]
	path = 3rdParty/QBuildSystem
	url = https://github.com/Targoman/QBuildSystem.git
[submodule "3rdParty/TextProcessor"]
	path = 3rdParty/TextProcessor
	url = https://github.com/Targoman/TextProcessor.git
